@tailwind base;
@tailwind components;
@tailwind utilities;

.options {
  @apply cursor-pointer p-2 rounded-lg shadow-lg bg-pink-600 text-white select-none w-full
     active:relative active:bottom-1 active:left-1
     hover:shadow-xl hover:filter hover:brightness-110 hover:scale-105
     focus:outline-none focus:ring focus:ring-pink-500;
}

.btn {
  @apply cursor-pointer text-white rounded-lg shadow-lg select-none p-2 bg-pink-500 w-[25%] mt-8 mb-16 text-sm md:text-lg;
}

.input {
  @apply px-4 py-2 rounded overflow-visible cursor-text border outline-none bg-white placeholder:text-slate-400 text-slate-800 focus:border-pink-500;
}

.action_btn {
  @apply px-4 py-2 rounded overflow-visible cursor-pointer font-bold border outline-none bg-white placeholder:text-slate-400 text-slate-800 focus:border-pink-500;
}